.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 1px 5px 0 #999;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .Burger {
    display: none;
  }
}
